@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Geo';
  src: url('/fonts/font-ge.ttf') format('truetype');
}

@font-face {
  font-family: 'Eng';
  src: url('/fonts/font-en.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
body {
  background: #181623;
}
.modal-open {
  overflow: hidden;
}
