@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../../fonts/helvetica-neue-lt-geo-55-roman.ttf');
}

* {
  font-family: 'HelveticaNeue';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
body {
  background: #181623;
}
.modal-open {
  overflow: hidden;
}
